<template>
  <div>
    <el-form ref="form" :model="form" :rules="rules" label-position="top">
      <div class="section-header">
        <h4 class="section-title">基本資料</h4>
      </div>
      <div class="section-container">
        <el-row :gutter="10">
          <el-col :span="6">
            <el-form-item label="姓氏" prop="surname">
              <el-input v-model="form.surname" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名字" prop="name">
              <el-input v-model="form.name" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="出生日期" prop="birthday">
              <el-date-picker
                style="width:100%"
                v-model="form.birthday"
                type="date"
                placeholder="選擇日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item label="Email" prop="email">
              <el-input v-model="form.email" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="國碼" prop="phone_number_code">
              <el-autocomplete
                class="inline-input"
                v-model="form.phone_number_code"
                :fetch-suggestions="filterWorldCountryPhoneOptions"
                placeholder="請輸入國碼"
                @blur="handleWorldCountryPhoneBlur"
                style="width: 100%;">
                <template slot-scope="{ item }">
                  <div style="padding-top:7px;padding-bottom:7px">
                    <div style="line-height: normal;">{{item.value}}</div>
                    <div style="line-height: normal;font-size: 12px;color: #b4b4b4;">{{item.index}}</div>
                  </div>
                </template>
              </el-autocomplete>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="電話" prop="phone">
              <el-input v-model="form.phone" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item label="出生地" prop="birthplace">
              <el-row :gutter="10">
                <el-col
                  v-for="item in birthplaceOptions"
                  :key="item.label"
                  :span="12">
                  <el-radio
                    border
                    style="width: 100%;"
                    v-model="form.birthplace"
                    :label="item.value">
                    {{item.label}}
                  </el-radio>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item v-if="this.form.birthplace=='taiwan'" label="出生縣市" prop="birthplaceCity">
              <el-select v-model="form.birthplaceCity" placeholder="請選擇" style="width: 100%;">
                <el-option
                  v-for="item in cityOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-if="this.form.birthplace=='immigration'" label="出生國家" prop="immigrationCountry">
              <el-select v-model="form.immigrationCountry" filterable placeholder="請選擇" prop="immigrationCountry" style="width:100%">
                <el-option
                  v-for="item in worldCountryOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="24">
            <el-form-item label="關心議題傾向" prop="issuesPreference">
              <el-checkbox-group v-model="form.issuesPreference">
                <el-checkbox
                  :label="item.value"
                  :key="item.label"
                  name="issuesPreference"
                  v-for="item in issuesPreferenceOptions">
                  {{item.label}}
                </el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="24">
            <el-form-item
              v-for="(item, index) in form.experience"
              :label="'工作經歷' + (index + 1)"
              :key="index"
              :prop="'experience.' + index + '.text'">
              <el-row :gutter="0">
                <el-col :span="21">
                  <el-input
                    v-model="item.text"></el-input>
                </el-col>
                <el-col :span="3" style="text-align:right">
                  <el-button
                    type="danger"
                    icon="el-icon-delete"
                    circle
                    v-if="form.experience.length>1"
                    @click.prevent="removeExperience(index)">
                  </el-button>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="24">
            <el-button
              type="primary"
              plain
              round
              icon="el-icon-circle-plus"
              @click.prevent="addExperience">
              新增
            </el-button>
          </el-col>
        </el-row>
      </div>
      <div class="section-row align-center" style="text-align:center">
        <el-button
          type="danger">
          清空
        </el-button>
        <el-button
          class="section-primary-btn"
          type="primary"
          @click="submitForm">
          {{state=='edit'?'編輯申請表單':'送出申請表單'}}
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import issuesPreferenceOptions from '@/utils/issuesPreferenceOptions.js'
import worldCountryOptions from '@/utils/worldCountryOptions.js'
import worldCountryPhoneOptions from '@/utils/worldCountryPhoneOptions.js'
import cityOptions from '@/utils/cityOptions.js'

export default {
  props: ['state', 'defaultForm'],
  data () {
    // 驗證陣列資料大於一筆
    const veridateArrayRequired = (rule, value, callback) => {
      if (value && value.length >= 3) {
        callback()
      } else {
        callback(new Error('請選擇至少三個項目'))
      }
    }
    return {
      issuesPreferenceOptions,
      worldCountryOptions,
      worldCountryPhoneOptions,
      cityOptions,
      form: {
        surname: '',
        name: '',
        birthday: '',
        email: '',
        phone: '',
        birthplace: '',
        birthplaceCity: '',
        immigrationCountry: '',
        issuesPreference: [],
        experience: [{
          text: ''
        }]
      },
      birthplaceOptions: [
        {
          label: '台灣',
          value: 'taiwan'
        },
        {
          label: '新住民',
          value: 'immigration'
        }
      ],
      rules: {
        surname: [
          { required: true, message: '必填', trigger: 'blur' },
        ],
        name: [
          { required: true, message: '必填', trigger: 'blur' },
        ],
        birthday: [
          { required: true, message: '必填', trigger: 'change' },
        ],
        email: [
          { required: true, message: '必填', trigger: 'blur' },
          { type: 'email', message: 'EMail格式不正確', trigger: 'blur' },
        ],
        phone_number_code: [
          { required: true, message: '必填', trigger: 'change' },
        ],
        phone: [
          { required: true, message: '必填', trigger: 'blur' },
        ],
        birthplace: [
          { required: true, message: '必填', trigger: 'change' },
        ],
        issuesPreference: [
          { required: true, message: '必填', trigger: 'change' },
          { validator: veridateArrayRequired, trigger: 'change' }
        ],
      }
    }
  },
  methods: {
    filterWorldCountryPhoneOptions (queryString, cb) {
      function createFilter(queryString) {
        return (item) => {
          return (item.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      }
      var results = queryString ? worldCountryPhoneOptions.filter(createFilter(queryString)) : worldCountryPhoneOptions;
      cb(results);
    },
    handleWorldCountryPhoneBlur () {
      const findItem = worldCountryPhoneOptions.find(d => d.value === this.form.phone_number_code)
      if (findItem == null) {
        this.$set(this.form, 'phone_number_code', '')
      }
    },
    removeExperience (index) {
      this.form.experience.splice(index, 1)
    },
    addExperience () {
      this.form.experience.push({
        text: ''
      })
    },
    submitForm () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.$message.success('送出成功！')
          console.log(JSON.stringify(this.form, null, 2))
        } else {
          this.$message.error('尚未填寫完成、或有資料格式錯誤，請修正後再重新送出')
        }
      })
    }
  },
  watch: {
    'defaultForm': {
      handler (d) {
        if (d) {
          this.form = JSON.parse(JSON.stringify(d))
        }
      },
      immediate: true
    }
  }
}
</script>
