<template>
  <div>
    <el-form ref="form" :model="form"  label-position="top">
      <div class="section-header">
        <h4 class="section-title">基本資料</h4>
      </div>
      <div class="section-container">
        <el-row :gutter="10">
          <el-col :span="6">
            <el-form-item label="姓氏" prop="surname">
              <el-input v-model="form.surname" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="名字" prop="name">
              <el-input v-model="form.name" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="出生日期" prop="birthday">
              <el-date-picker
                style="width:100%"
                v-model="form.birthday"
                type="date"
                placeholder="選擇日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item label="Email" prop="email">
              <el-input v-model="form.email" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="電話" prop="phone">
              <el-input v-model="form.phone" placeholder="請輸入"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item label="出生地" prop="birthplace">
              <el-row :gutter="10">
                <el-col
                  v-for="item in birthplaceOptions"
                  :key="item.label"
                  :span="12">
                  <el-radio
                    border
                    style="width: 100%;"
                    v-model="form.birthplace"
                    :label="item.value">
                    {{item.label}}
                  </el-radio>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item v-if="this.form.birthplace=='taiwan'" label="出生縣市" prop="birthplaceCity">
              <el-select v-model="form.birthplaceCity" placeholder="請選擇" style="width: 100%;">
                <el-option
                  v-for="item in cityOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="關心議題傾向" prop="issuesPreference">
          <el-checkbox-group v-model="form.issuesPreference">
            <el-checkbox
              :label="item.value"
              :key="item.label"
              name="issuesPreference"
              v-for="item in issuesPreferenceOptions">
              {{item.label}}
            </el-checkbox>
            <!-- <el-checkbox label="國防外交" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="教育文化" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="法治人權" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="經濟產業" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="醫療照護" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="國家發展" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="財政金融" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="環境衛生" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="勞動弱勢" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="科技能源" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="交通建設" name="issuesPreference" ></el-checkbox>
            <el-checkbox label="社會治安" name="issuesPreference" ></el-checkbox> -->
          </el-checkbox-group>
        </el-form-item>
      </div>
      <div class="section-row align-center">
        <el-button
          class="section-primary-btn"
          type="primary"
          @click="submitForm">送出申請表單
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import issuesPreferenceOptions from '@/utils/issuesPreferenceOptions.js'
import worldCountryOptions from '@/utils/worldCountryOptions.js'
import cityOptions from '@/utils/cityOptions.js'

export default {
  data () {
    return {
      issuesPreferenceOptions,
      worldCountryOptions,
      cityOptions,
      form: {
        surname: '',
        name: '',
        birthday: '',
        lineId: '',
        email: '',
        phone: '',
        birthplace: '',
        birthplaceCity: '',
        immigrationCountry: '',
        issuesPreference: []
      },
      birthplaceOptions: [
        {
          label: '台灣',
          value: 'taiwan'
        },
        {
          label: '新住民',
          value: 'immigration'
        }
      ]
    }
  },
  methods: {
    submitForm () {
      this.$message.success('送出成功！')
      console.log(JSON.stringify(this.form, null, 2))
    }
  }
}
</script>
