<template>
  <FormBody
    v-loading="isLoading"
    :state="'edit'"
    :defaultForm="formData">
  </FormBody>
</template>

<script>
import FormBody from './FormBody.vue'

export default {
  components: {
    FormBody
  },
  data () {
    return {
      isLoading: true,
      formData: null
    }
  },
  created () {
    setTimeout(d => {
      this.formData = {
        "surname": "周",
        "name": "星池",
        "birthday": "2019-10-24T16:00:00.000Z",
        "email": "star@gm.com",
        "phone": "912345678",
        "birthplace": "taiwan",
        "birthplaceCity": "02",
        "immigrationCountry": "",
        "issuesPreference": [
          2,
          9,
          3
        ],
        "experience": [
          {
            "text": "A Company"
          },
          {
            "text": "B Company"
          }
        ],
        "phone_number_code": "+886"
      }
      this.isLoading = false
    }, 2000)
  }
}
</script>
